{% extends "layouts.master" %}
{% import "macros.forms" as forms %}

{% block title %}Application settings{% endblock %}

{% block content %}
    <div class="card mb-2">
        <div class="card-header">
            Server info
        </div>
        <div class="card-body">
            <p>PHP version: {{ php }}</p>
            <p>Extensions:</p>
            <ul class="list-group">
                {% for ext in used_exts %}
                <li class="list-group-item text-{{ ext in available_exts ? 'success' : 'danger' }}">
                    <span class="bi-{{ ext in available_exts ? 'check' : 'x' }}-circle"></span>
                    {{ ext }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Send test e-mail</div>
        <div class="card-body">
            <form action="{{ route('settings.testMail') }}" method="post">
                {{ csrf_field() }}
                {{ forms.single_input('email', 'Test e-mail address', '', 'Send', errors) }}
            </form>
        </div>
    </div>
{% endblock %}