{% extends "layouts.master" %}

{% block title %}Languages - Add{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ route('languages.index') }}">Languages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
</nav>

<form action="{{ route('languages.store') }}" method="post">
    {{ csrf_field() }}
<div class="row">
    <div class="mb-3 col-3">
        <label for="iso_code" class="form-label">ISO code:</label>
        <input type="text" name="iso_code" id="iso_code" value="{{ old('iso_code') }}"
               class="form-control {{ errors.has('iso_code') ? 'is-invalid' }}">
        {% for error in errors.get('iso_code') %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="mb-3 col-9">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" value="{{ old('name') }}"
               class="form-control {{ errors.has('name') ? 'is-invalid' }}">
        {% for error in errors.get('name') %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
</div>
<div class="mb-3">
    <label for="style_guide_url" class="form-label">Style guide URL</label>
    <input type="text" name="style_guide_url" id="style_guide_url" value="{{ old('style_guide_url') }}"
           class="form-control {{ errors.has('style_guide_url') ? 'is-invalid' }}">
    {% for error in errors.get('style_guide_url') %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3">
    <label for="terminology_url" class="form-label">Terminology URL</label>
    <input type="text" name="terminology_url" id="terminology_url" value="{{ old('terminology_url') }}"
           class="form-control {{ errors.has('terminology_url') ? 'is-invalid' }}">
    {% for error in errors.get('terminology_url') %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3">
    <input type="submit" value="Save" class="btn btn-primary">
</div>
</form>
{% endblock %}