{% extends "layouts.master" %}
{% import "macros.forms" as forms %}

{% block title %}Languages - Add{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ route('languages.index') }}">Languages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
</nav>

<form action="{{ route('languages.store') }}" method="post">
    {{ csrf_field() }}
    <div class="row">
        <div class="col-3 mb-3">{{ forms.input('iso_code', 'ISO code', '', errors) }}</div>
        <div class="col-9 mb-3">{{ forms.input('name', 'Name', '', errors) }}</div>
    </div>
    <div class="mb-3">{{ forms.input('style_guide_url', 'Style guide URL', '', errors) }}</div>
    <div class="mb-3">{{ forms.input('terminology_url', 'Terminology URL', '', errors) }}</div>
    <div class="mb-3"><input type="submit" value="Save" class="btn btn-primary"></div>
</form>
{% endblock %}