{% extends "layouts.master" %}

{% block title %}Languages{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ route('projects.index') }}">Home</a></li>
    <li class="active">Languages</li>
</ol>

{% if errors.all() %}
<div class="alert alert-danger">
    {% for error in errors.all() %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
{% elseif session('message') %}
<div class="alert alert-success">
    <p>{{ session('message') }}</p>
</div>
{% endif %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>ISO code</th>
        <th>Language</th>
        <th>Style guide URL</th>
        <th>Terminology URL</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form action="{{ route('languages.store') }}" method="post">
        {{ csrf_field() }}
        <td class="iso-code"><input type="text" name="iso_code" id="iso_code" class="form-control"></td>
        <td><input type="text" name="name" id="name" class="form-control">
        <td><input type="text" name="style_guide_url" id="style_guide_url" class="form-control"></td>
        <td><input type="text" name="terminology_url" id="terminology_url" class="form-control"></td>
        <td><input type="submit" value="Add" class="btn btn-default"></td>
        </form>
    </tr>
    {% for language in languages %}
    <tr>
        <form action="{{ route('languages.update', language.id) }}" method="post">
        {{ method_field('PUT') }}
        {{ csrf_field() }}
        <td class="iso-code"><input type="text" name="iso_code_{{ language.id }}" id="iso_code_{{ language.id }}" value="{{ language.iso_code }}" class="form-control"></td>
        <td><input type="text" name="name_{{ language.id }}" id="name_{{ language.id }}" value="{{ language.name }}" class="form-control"></td>
        <td><input type="text" name="style_guide_url_{{ language.id }}" id="style_guide_url_{{ language.id }}" value="{{ language.style_guide_url }}" class="form-control"></td>
        <td><input type="text" name="terminology_url_{{ language.id }}" id="terminology_url_{{ language.id }}" value="{{ language.terminology_url }}" class="form-control"></td>
        <td><input type="submit" value="Save" class="btn btn-default"></td>
        </form>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
