{% extends "layouts.master" %}

{% block title %}{{ project.name }} - Edit{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ route('projects.index') }}">Home</a></li>
    <li><img src="{{ asset(project.icon) }}" class="breadcrumb-icon"> <a href="{{ route('projects.show', {project: project}) }}">{{ project.name }}</a></li>
    <li class="active">Edit</li>
</ol>

<form action="{{ route('projects.update', project.id) }}" method="post" enctype="multipart/form-data">
{{ method_field('PUT') }}
{{ csrf_field() }}
<div class="form-group {{ errors.has('name') ? ' has-error' }}">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{ project.name }}" class="form-control">
    {% for error in errors.get('name') %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
</div>
<div class="form-group {{ errors.has('url') ? ' has-error' }}">
    <label for="url">Project URL (optional)</label>
    <input type="text" name="url" id="url" value="{{ project.url }}" class="form-control">
    {% for error in errors.get('url') %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
</div>
<div class="form-group {{ errors.has('bugtracker_url') ? ' has-error' }}">
    <label for="bugtracker_url">Bugtracker URL (optional)</label>
    <input type="text" name="bugtracker_url" id="bugtracker_url" value="{{ project.bugtracker_url }}" class="form-control">
    {% for error in errors.get('bugtracker_url') %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
</div>
<div class="form-group {{ errors.has('prerelease_url') ? ' has-error' }}">
    <label for="prerelease_url">Prerelease URL (optional)</label>
    <input type="text" name="prerelease_url" id="prerelease_url" value="{{ project.prerelease_url }}" class="form-control">
    {% for error in errors.get('prerelease_url') %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
</div>
<div class="form-group {{ errors.has('release_date') ? ' has-error' }}">
    <label for="release_date">Upcoming release date (optional)</label>
    <input type="date" name="release_date" id="release_date" value="{{ project.release_date }}" placeholder="YYYY-MM-DD" class="form-control">
    {% for error in errors.get('release_date') %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
</div>
<div class="form-group {{ errors.has('icon') ? ' has-error' }}">
    <label for="icon">Icon (32x32, PNG, optional)</label>
    <input type="file" name="icon" id="icon">
    {% for error in errors.get('icon') %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
</div>
<div class="form-group">
    <label>Current icon</label>
    <img src="{{ asset(project.icon) }}" class="thumbnail">
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-default">
</div>
</form>
{% endblock %}
