{% extends "layouts.master" %}

{% block title %}Projects{% endblock %}

{% block scripts %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    })
</script>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Projects</li>
    </ol>
</nav>
<div class="container">
<div class="row">
    <div class="col-md-6">
        <p>Polyglot allows developers to upload the GUI strings ("catkeys", Java properties, or Line-separated files) of their applications and have their users translate them into their native language.</p>
    </div>
    <div class="col-md-6">
        {% if auth_user().can('add-project') %}
        <form action="{{ route('projects.store') }}" method="post">
        {{ csrf_field() }}
        <div class="input-group has-validation mb-3">
            {% set name_errors = errors.get('name') %}
            <div class="form-floating {{ name_errors ? 'is-invalid' }}">
                <input type="text" name="name" placeholder="Name" class="form-control {{ name_errors ? 'is-invalid' }}">
                <label for="name">Project name</label>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <div class="invalid-feedback">
            {% for error in name_errors %}
                {{ error }}
            {% endfor %}
            </div>
        </div>
        </form>
        {% endif %}
        <div class="text-end">

        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6 align-content-end">
        <strong>These projects are currently available:</strong>
    </div>
    <div class="col-md-6 text-end">
        sort by
        <span class="btn-group align-baseline">
            <a href="{{ url_current() }}?sort=name" class="btn btn-sm {{ sort == 'name' ? 'btn-secondary' : 'btn-outline-secondary' }}">name</a>
            <a href="{{ url_current() }}?sort=updated" class="btn btn-sm {{ sort == 'updated' ? 'btn-secondary' : 'btn-outline-secondary' }}">last updated</a>
        </span>
    </div>
</div>
</div>
{% if projects.count != 0 %}
    <div class="container">
        <div class="row">
{% for chunk in projects.chunk((projects.count() / 3)|round(0, 'ceil')) %}
<div class="col-xl-4 col-12">
    {% for project in chunk %}
    <div class="btn-group w-100 mb-2" role="group">
        <a href="{{ route('projects.show', [project]) }}" class="btn btn-outline-primary position-relative w-100 text-start" role="button">
            <img width="32" height="32" src="{{ asset(project.icon) }}" class="me-2">
            <span class="align-middle">{{ project.name }}</span>
            {% if project_needs_work and project_needs_work[project.id] == 1 %}
                <span class="position-absolute top-0 start-0 translate-middle p-1 bg-primary border border-light-subtle rounded-circle">
                    <span class="visually-hidden">Incomplete</span>
                </span>
            {% endif %}
        </a>
        {% if project.release_date %}
            {% set daysToRelease = project.release_date.diff().days %}
            {% set btnColor = daysToRelease > 14 ? 'btn-outline-primary' : daysToRelease > 7 ? 'btn-primary' : daysToRelease > 3 ? 'btn-warning' : 'btn-danger' %}
            <a href="#" class="btn {{ btnColor }} d-flex align-items-center" data-bs-toggle="tooltip" title="Upcoming release: {{ project.release_date|date('d-m-Y') }}">
                <i class="bi bi-calendar-event"></i></a>
        {% endif %}
        {% if project.url %}
            <a href="{{ project.url }}" class="btn btn-outline-secondary d-flex align-items-center" title="Website">
                <i class="bi bi-globe"></i></a>
        {% endif %}
        {% if project.bugtracker_url %}
            <a href="{{ project.bugtracker_url }}" class="btn btn-outline-secondary d-flex align-items-center" title="Bugtracker">
                <i class="bi bi-bug"></i></a>
        {% endif %}
        {% if project.prerelease_url %}
            <a href="{{ project.prerelease_url }}" class="btn btn-outline-secondary d-flex align-items-center" title="Download prerelease">
                <i class="bi bi-download"></i></a>
        {% endif %}
        {% if auth_user().can('modify-project', project) %}
            <a href="{{ route('projects.edit', [project]) }}" class="btn btn-secondary d-flex align-items-center">Edit</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endfor %}
</div></div>
{% else %}
<p>No projects found.</p>
{% endif %}
{% endblock %}
