{% extends "layouts.master" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>
<ul>
{% for project in projects %}
    <li>
        {{ link_to_route('projects.show', project.name, project.id, {}) }}
        {% if auth_user().can('modify-project', project) %}
            {{ link_to_route('projects.edit', 'Edit', project.id, {}) }}
        {% endif %}
    </li>
{% else %}
    <li>No projects found.</li>
{% endfor %}
</ul>
{% if auth_user().can('add-project') %}
<h2>Add project</h2>
{{ form_open({url: route('projects.store'), method: POST}) }}
{{ form_label('Project name:') }}
{{ form_text('name', null, ['required']) }}
{{ form_submit('Add project') }}
{{ form_close() }}
{% endif %}
{% endblock %}
