{% extends "layouts.master" %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li>{{ link_to_route('projects.index', 'Home') }}</li>
    <li>{{ link_to_route('projects.show', project.name, {project: project}) }}</li>
    <li class="active">Files</li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Administrators</div>
                <div class="panel-body">
                    {% for admin in project.administrators %}
                    {{ admin.name }}{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Contributors</div>
                <div class="panel-body">
                    {% for contributor in contributors %}
                    <span class="{{ roleClass[contributor[0].role] }}">
                        {{ contributor[0].user.name }} {{ contributor.language }}
                        ({% for language in contributor %}{{ language.language.iso_code }}{% if loop.last == false %}, {% endif %}{% endfor %})</span>{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if project.files.count() > 0 %}
<table class="table table-striped">
<thead>
<tr>
    <th></th>
{% for file in project.files %}
    <th>
        {{ file.name }}
        {% if auth_user().can('modify-file', file) %}
            {{ link_to_route('files.edit', 'Edit', file.id, {}) }}
        {% endif %}
    </th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for language in languages %}
    {% if language.iso_code != 'en' %}
    <tr>
        <td>{{ language.name }}</td>
        {% for file in project.files %}
        <td>
            {% set lang_stat = status[file.id][language.id] %}
            <div class="progress progress-translation">
                <div class="progress-bar progress-bar-success"
                     style="width: {{ lang_stat['translated'] }}%">
                    {% if lang_stat['translated'] > 24 %}
                        {{ lang_stat['translated'] }}%
                    {% endif %}
                </div>
                <div class="progress-bar progress-bar-warning"
                     style="width: {{ lang_stat['needs_work'] }}%"></div>
            </div>
            {{ link_to_route('files.translate', 'Translate',
                {file: file.id, lang: language.id}, {}) }}
            {{ link_to_route('files.export', 'Export',
                {file: file.id, lang: language.id}, {}) }}
        </td>
        {% endfor %}
    </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>
{% else %}
<p>This project has no files.</p>
{% endif %}
{% if auth_user().can('modify-project', project) %}
<h2>Add files</h2>
{{ form_open({url: route('files.store', {project: project.id}), method: POST}) }}
{{ form_label('File name:') }}
{{ form_text('name', null, {'placeholder': 'Application, libone, etc.'}) }}
{{ form_submit('Add file') }}
{{ form_close() }}
{% endif %}
{% endblock %}
