{% extends "layouts.master" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>{{ project.name }}</h1>
<ul>
{% for file in project.files %}
<li>
    <p>{{ link_to_route('files.show', file.name, file.id, {}) }}
    {{ link_to_route('files.edit', 'Edit', file.id, {}) }}</p>
    {% for language in project.languages %}
    {% if language.iso_code != 'en' %}
        <p>
            {{ link_to_route('files.translate', language.name, {file: file.id, lang: language.id}, {}) }}
            {{ link_to_route('files.export', 'Export', {file: file.id, lang: language.id}, {}) }}
        </p>
    {% endif %}
    {% endfor %}
</li>
{% else %}
<li>This project has no files.</li>
{% endfor %}
</ul>
{{ form_open({url: 'files?project_id=' ~ project.id, method: POST}) }}
{{ form_label('File name:') }}
{{ form_text('name', null, ['required']) }}
{{ form_submit('Add file') }}
{{ form_close() }}
<h2>Languages</h2>
{{ form_open({url: route('projects.update', project.id), method: 'PUT'}) }}
{{ form_select('languages', languages, project.languages.pluck('id'), {multiple: 'multiple', name: 'languages[]'}) }}
{{ form_submit('save') }}
{{ form_close() }}
{% endblock %}
