{% extends "layouts.master" %}
{% import "macros.forms" as forms %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
{% macro fill_table(chunk_count, tag = 'td') %}
    {% if chunk_count < 4 %}
        {% for i in 1..(4 - chunk_count) %}
            <{{ tag }}></{{ tag }}>
        {% endfor %}
    {% endif %}
{% endmacro %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2 p-2 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item"><img src="{{ asset(project.icon) }}" class="breadcrumb-icon"> <a href="{{ route('projects.show', [project]) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Translation modules</li>
    </ol>
</nav>
{% if session('error') %}
    <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
{% endif %}
{% if session('success') %}
    <div class="alert alert-success" role="alert">{{ session('success') }}</div>
{% endif %}
{% set manyFiles = project.files.count() > 4 %}
{% if project.files.count() > 0 %}
{% set chunks = project.files.chunk(4) %}
<table class="table table-striped">
{% for chunk in chunks %}
<tbody>
<tr>
    <th colspan="2">
        {% if loop.first %}
        <a href="{{ route('projects.show', [project, display == 'active' ? 'all']) }}">
            Show {{ (display == 'all' ? 'only ' ~ (manyFiles ? 'preferred' : 'active') : 'all') }} languages
        </a>
        {% endif %}
    </th>
    {% for file in chunk %}
    <th>
        <span title="{{ file.path }}.{{ file.getFileInstance().getExtension() }}" class="text-hover">
            {{ file.name }}
        </span>
        {% if auth_user().can('modify-file', file) %}
            <a href="{{ route('files.edit', [project, file]) }}">Edit</a>
        {% endif %}
        <br>
    </th>
    {% endfor %}
    {{ _self.fill_table(chunk.count(), 'th') }}
</tr>
{% for language in languages|filter(l =>
    l.iso_code != 'en' and
        (display == 'active' and (
            (status[l.id] is defined and not manyFiles) or
            l.id in auth_user().preferred_languages))
        or (display == 'all')) %}
<tr>
    <td style="width: 3rem;"><span class="w-100 badge bg-secondary">{{ language.iso_code }}</span></td>
    <td>{{ language.name }}</td>
    {% for file in chunk %}
    <td>
        {% set lang_stat = status[language.id][file.id][0] %}
        <div class="progress-stacked progress-translation">
            {% apply spaceless %}
            <div class="progress progress-translation" style="width: {{ lang_stat.translated_percent ?? 0 }}%">
                <div class="progress-bar bg-success">
                    {{ lang_stat.translated_percent > 24 ? lang_stat.translated_percent ~ '%' }}
                </div>
            </div>
            <div class="progress progress-translation"
                 style="width: {{ lang_stat.needs_work_percent ?? 0 }}%">
                <div class="progress-bar bg-warning"></div>
            </div>
            {% endapply %}
        </div>
        <div class="btn-group">
            {% set canTranslate = can('translate-file', [file, language]) %}
            {% set continueLabel = canTranslate ? 'Continue' : 'View unfinished' %}
            {% set allLabel = canTranslate ? 'All blocks' : 'View all' %}
            {% set parameters = [project, file, language] %}
            {% set unfinished = canTranslate and lang_stat.translated_percent < 100 %}
            {% set buttonClass = unfinished ? 'btn-primary' : 'btn-secondary' %}
            <a href="{{ route('files.translate', unfinished ? parameters|merge(['continue']) : parameters) }}"
                class="btn btn-sm {{ buttonClass }}">{{ unfinished ? continueLabel : allLabel }}</a>
            <a href="#" class="btn {{ buttonClass }} btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                <span class="visually-hidden">Toggle dropdown</span>
            </a>
            <ul class="dropdown-menu">
                {% if unfinished %}
                    <li><a class="dropdown-item" href="{{ route('files.translate', parameters) }}">{{ allLabel }}</a></li>
                    <li><a class="dropdown-item" href="{{ route('files.pretranslate', parameters) }}">Pre-translate</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{{ route('files.export', parameters) }}">Export</a></li>
            </ul>
        </div>
    </td>
    {% endfor %}
    {{ _self.fill_table(chunk.count()) }}
</tr>
{% endfor %}
<tr>
    <td colspan="2">Export languages:
        <a href="{{ route('projects.export', [project, 'all']) }}">all</a> |
        <a href="{{ route('projects.export', [project, 'complete']) }}">only completed</a>
    </td>
    {% for file in chunk %}
    <td>
        <a href="{{ route('files.exportAll', [project, file]) }}">Export file</a>
    </td>
    {% endfor %}
    {{ _self.fill_table(chunk.count()) }}
</tr>
</tbody>
{% endfor %}
</table>
{% else %}
<p>This project has no translation modules yet.</p>
{% endif %}
{{ block('panels') }}
{% endblock %}

{% block panels %}
{% if auth_user().can('modify-project', project) %}
<div class="card mb-2">
    <div class="card-header">Add translation module</div>
    <div class="card-body">
        {{ block('add_file_panel') }}
    </div>
</div>
{% endif %}
<div class="card mb-2">
    <div class="card-header">Administrators</div>
    <div class="card-body">
        {% for admin in project.administrators %}
        {{ admin.name }}{% if loop.last == false %}, {% endif %}
        {% endfor %}
    </div>
</div>
<div class="card mb-2">
    <div class="card-header">Contributors</div>
    <table class="table mb-0">
    {% for language in contributors %}
    <tr>
        <td class="ps-3" style="width: 3rem;"><span class="w-100 badge bg-secondary">{{ language[0].language.iso_code }}</span></td>
        <td class="w-25 {{ loop.last ? 'border-bottom-0 rounded-bottom' }}">{{ language[0].language.name }}</td>
        <td {{ loop.last ? 'class="border-bottom-0 rounded-bottom"' }}>
            {% for contributor in language %}
            <span class="{{ roleClass[contributor.role] }}">{{ contributor.user.name }}</span>{% if loop.last == false %}, {% endif %}
            {% endfor %}
        </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block add_file_panel %}
<p class="alert alert-info">
Some apps generate several catkeys files, one for each "module" of the software, like for the main "Application", a "Preference" panel, a "Library" or "Tracker-addon" it comes with.<br />
Here you can add those different translation modules and their catkeys (or Java properties or general line-separated files). Normal "single-catkeys" projects should be named simply "Application" for consistency.
</p>
<form action="{{ route('files.store', [project, file]) }}" method="post">
{{ csrf_field() }}
<div class="row">
    <div class="col">
        <div class="input-group">
            <input type="text" name="name" id="name" class="form-control" placeholder="Module name">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
    <div class="col">{{ forms.select('type', '', file_types, 1) }}</div>
</div>
</form>
{% endblock %}
