{% extends "layouts.master" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>{{ project.name }}</h1>
{% for file in project.files %}
<table class="table">
<tr>
    <th>
        {{ file.name }}
        {% if auth_user().can('modify-file', file) %}
            {{ link_to_route('files.edit', 'Edit', file.id, {}) }}
        {% endif %}
    </th>
</tr>
{% for language in project.languages %}
    {% if language.iso_code != 'en' %}
    <tr>
        <td>{{ link_to_route('files.translate', language.name, {file: file.id, lang: language.id}, {}) }}
        {{ link_to_route('files.export', 'Export', {file: file.id, lang: language.id}, {}) }}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>
{% else %}
<p>This project has no files.</p>
{% endfor %}
{% if auth_user().can('modify-project', project) %}
<h2>Add files</h2>
{{ form_open({url: route('files.store', {project: project.id}), method: POST}) }}
{{ form_label('File name:') }}
{{ form_text('name', null, {'placeholder': 'Application, libone, etc.'}) }}
{{ form_submit('Add file') }}
{{ form_close() }}
{% endif %}
{% endblock %}
