{% extends "layouts.master" %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li>{{ link_to_route('projects.index', 'Home') }}</li>
    <li>{{ html_image(project.icon, null, {class: 'breadcrumb-icon'}) }} {{ link_to_route('projects.show', project.name, {project: project}) }}</li>
    <li class="active">Translation modules</li>
</ol>
{% if project.files.count() > 0 %}
<table class="table table-striped">
<thead>
<tr>
    <th colspan="2">
        {{ link_to_route('projects.show', displayLinkLabel,
            { 'project': project.id, 'display': display == 'active' ? 'all' : '' }) }}
    </th>
    {% for file in project.files %}
    <th>
        {{ file.name }}
        {% if auth_user().can('modify-file', file) %}
            {{ link_to_route('files.edit', 'Edit', file.id, {}) }}
        {% endif %}
    </th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for language in languages
    if language.iso_code != 'en' and
        (display == 'active' and (modifiedKeys[language.id] > 0 or
            language.id in auth_user().preferred_languages))
        or (display == 'all') %}
<tr>
    <td class="iso-code"><b>{{ language.iso_code }}</b></td>
    <td>{{ language.name }}</td>
    {% for file in project.files %}
    <td>
        {% set lang_stat = status[file.id][language.id] %}
        <div class="progress progress-translation">
            <div class="progress-bar progress-bar-success"
                 style="width: {{ lang_stat['translated'] }}%">
                {% if lang_stat['translated'] > 24 %}
                    {{ lang_stat['translated'] }}%
                {% endif %}
            </div>
            <div class="progress-bar progress-bar-warning"
                 style="width: {{ lang_stat['needs_work'] }}%"></div>
        </div>
        <div class="btn-group">
            {% set canTranslate = can('translate-file', [file, language]) %}
            {% set continueLabel = canTranslate ? 'Continue' : 'View unfinished' %}
            {% set allLabel = canTranslate ? 'All text blocks' : 'View all' %}
            {% set parameters = {file: file.id, lang: language.id} %}
            {% set buttonClass = canTranslate and lang_stat['translated'] < 100
                ? 'btn-primary' : 'btn-default' %}
            {{ link_to_route('files.translate',
                canTranslate ? continueLabel : allLabel,
                canTranslate ? parameters|merge({type: 'continue'}) : parameters,
                {class: 'btn btn-xs ' ~ buttonClass}) }}
            <a href="#" class="btn {{ buttonClass }} btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle dropdown</span>
            </a>
            <ul class="dropdown-menu">
                {% if canTranslate %}
                    <li>{{ link_to_route('files.translate', allLabel, parameters, {}) }}</li>
                {% endif %}
                <li>{{ link_to_route('files.export', 'Export', parameters, {}) }}</li>
            </ul>
        </div>
    </td>
    {% endfor %}
</tr>
{% endfor %}
<tr>
    <td></td>
    <td></td>
    {% for file in project.files %}
    <td>
        {{ link_to_route('files.exportAll', 'Export all', file.id, {}) }}
    </td>
    {% endfor %}
</tr>
</tbody>
</table>
{% else %}
<p>This project has no translation modules yet.</p>
{% endif %}
{{ block('panels') }}
{% endblock %}

{% block panels %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Administrators</div>
                <div class="panel-body">
                    {% for admin in project.administrators %}
                    {{ admin.name }}{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Contributors</div>
                <div class="panel-body">
                    {% for contributor in contributors %}
                    <span class="{{ roleClass[contributor[0].role] }}">
                        {{ contributor[0].user.name }} {{ contributor.language }}
                        ({% for language in contributor %}{{ language.language.iso_code }}{% if loop.last == false %}, {% endif %}{% endfor %})</span>{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if auth_user().can('modify-project', project) %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Add translation module</div>
                <div class="panel-body">
                    {{ block('add_file_panel') }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block add_file_panel %}
<p class="message bg-info text-info">
Some apps generate several catkeys files, one for each "module" of the software, like for the main "Application", a "Preference" panel, a "Library" or "Tracker-addon" it comes with.<br />
Here you can add those different translation modules and their catkeys. Normal "single-catkeys" projects should be named simply "Application" for consistency.
</p>
{{ form_open({url: route('files.store', {project: project.id}), method: POST}) }}
<div class="input-group">
    {{ form_text('name', null, {'placeholder': 'Module name', 'class': 'form-control'}) }}
    <span class="input-group-btn">
        {{ form_submit('Add', {'class': 'btn btn-primary'}) }}
    </span>
</div>
{{ form_close() }}
{% endblock %}
