{% extends "layouts.master" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>{{ project.name }}</h1>
<ul>
{% for file in project.files %}
<li>
    <p>{{ link_to_route('files.show', file.name, file.id, {}) }}
    {{ link_to_route('files.edit', 'Edit', file.id, {}) }}</p>
    {% for language in project.languages %}
        <p>{{ link_to_route('files.translate', language.name, {file: file.id, lang: language.id}, {}) }}</p>
    {% endfor %}
</li>
{% else %}
<li>This project has no files.</li>
{% endfor %}
</ul>
{{ form_open({url: 'files?project_id=' ~ project.id, method: POST}) }}
{{ form_label('File name:') }}
{{ form_text('name', null, ['required']) }}
{{ form_submit('Add file') }}
{{ form_close() }}
<h2>Languages</h2>
<ul>
{% for language in project.languages %}
    <li>{{ language.name }}</li>
{% endfor %}
</ul>
{% endblock %}
