{% extends "layouts.master" %}
{% import "macros.forms" as forms %}

{% block title %}{{ user.name }} - Edit{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ route('users.index') }}">Users</a></li>
        <li class="breadcrumb-item">{{ user.name }}</li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<form action="{{ route('users.update', user.id) }}" method="post">
    {{ method_field('PUT') }}
    {{ csrf_field() }}
    <div class="mb-3">{{ forms.input('name', 'Name', user.name, errors) }}</div>
    <div class="mb-3">{{ forms.input('email', 'E-mail', user.email, errors) }}</div>
    <div class="mb-3">{{ forms.select('role', 'Role', user.rolesNames(), user.role) }}</div>
    <div class="mb-3">
        {{ forms.select('languages', 'Language permissions', languages.mapWithKeys(l => {(l.id): "[#{l.iso_code}] #{l.name}"}), user.languages.pluck('id'), true) }}
    </div>
    <div class="mb-3"><input type="submit" value="Save" class="btn btn-primary"></div>
</form>
{% endblock %}
