{% extends "layouts.master" %}

{% block title %}{{ user.name }} - Edit{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ route('projects.index') }}">Home</a></li>
    <li><a href="{{ route('users.index') }}">Users</a></li>
    <li>{{ user.name }}</li>
    <li class="active">Edit</li>
</ol>

<form action="{{ route('users.update', user.id) }}" method="post">
{{ method_field('PUT') }}
{{ csrf_field() }}
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{ user.name }}" class="form-control">
</div>
<div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email" value="{{ user.email }}" class="form-control">
</div>
<div class="form-group">
    <label for="role">Role</label>
    <select class="form-control" name="role[]" id="role">
    {% for id, name in user.rolesNames() %}
        <option value="{{ id }}"{{ id == user.role ? ' selected' }}>{{ name }}</option>
    {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="languages">Language permissions</label>
    <select multiple="multiple" class="form-control" name="languages[]" id="languages">
    {% for id, name in languages %}
        <option value="{{ id }}"{{ id in user.languages.pluck('id') ? ' selected' }}>{{ name }}</option>
    {% endfor %}
    </select>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-default">
</div>
</form>
{% endblock %}
