{% extends "layouts.master" %}

{% block title %}Users{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2 p-2 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        {% if not search %}
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ route('users.index') }}">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search: {{ search }}</li>
        {% endif %}
    </ol>
</nav>

{% if session('success') %}
    <div class="alert alert-success" role="alert">{{ session('success') }}</div>
{% endif %}

<form action="{{ route('users.index') }}" method="get">
<div class="input-group">
    {% if search != '' %}
    <a href="{{ route('users.index') }}" class="btn btn-secondary">&#x2715;</a>
    {% endif %}
    <input type="text" name="search" id="search" value="{{ search }}" class="form-control" placeholder="Name or e-mail...">
    <button type="submit" class="btn btn-secondary">Search</button>
</div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Language permissions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roleName() }}</td>
        <td>
            {% for language in user.languages %}
                <span class="badge language-badge bg-secondary me-2">{{ language.iso_code }}</span>
            {% endfor %}
        </td>
        <td class="d-flex justify-content-end">
            <a href="{{ route('users.edit', [user]) }}" class="btn btn-primary {{ user.id == auth_user().id ? 'disabled' }}">Edit</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4"><em>No users to show.</em></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{{ users.appends({'search': search}).links() | raw }}
{% endblock %}
