{% extends "layouts.master" %}

{% block title %}Users{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li>{{ link_to_route('projects.index', 'Home') }}</li>
    {% if not search %}
        <li class="active">Users</li>
    {% else %}
        <li>{{ link_to_route('users.index', 'Users') }}</li>
        <li class="active">Search: {{ search }}</li>
    {% endif %}
</ol>

{% if session('success') %}
    <div class="alert alert-success" role="alert">{{ session('success') }}</div>
{% endif %}

{{ form_open({url: route('users.index'), method: 'GET'}) }}
<div class="input-group">
    {% if search != '' %}
    <span class="input-group-btn">
        {{ link_to_route('users.index', '&#x2715;', {}, {class: 'btn btn-default'}) }}
    </span>
    {% endif %}
    {{ form_text('search', search, {class: 'form-control', placeholder: 'Name or e-mail...'}) }}
    <span class="input-group-btn">
        {{ form_submit('Search', {class: 'btn btn-default'}) }}
    </span>
</div>
{{ form_close() }}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Language permissions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ roles[user.role] }}</td>
        <td>
            {% for language in user.languages %}
            {{ language.iso_code }}{% if loop.last == false %}, {% endif %}
            {% endfor %}
        </td>
        <td>
            {{ link_to_route('users.edit', 'Edit', user.id,
                {class: 'btn btn-default' ~ (user.id == auth_user().id ? ' disabled') }) }}
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4"><em>No users to show.</em></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{{ users.appends({'search': search}).links() | raw }}
{% endblock %}
