{% extends "layouts.master" %}

{% block title %}Help for translators{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li>{{ link_to_route('projects.index', 'Home') }}</li>
    <li>{{ link_to_route('help', 'Help') }}</li>
    <li class="active">Translators</li>
</ol>

<p>For translators, Polyglot should be pretty much self-explanatory with only very few things that need explaining.<br />
Before you can start translating, an admin has to grant you the necessary permissions. Please see the Haiku forum post <a href="https://discuss.haiku-os.org/t/help-translating-applications-with-polyglot">Help translating applications with Polyglot</a>.</p>

<p>{{ html_image('images/help/user-startpage.png', 'The start page with a list of all projects') }}</p>

<p>After logging into Polyglot, the start page shows a list of all the hosted projects. After a project's name you may see a globe symbol, linking the it's website and a sheet icon linking to its bugtracker. Some developers also include the date of the next planned release, so translators can cram to get in their translations in time.</p>

<p>Projects that aren't 100% translated in your preferred language - see <i>Edit profile</i> in your user menu at the top right of the page - are highlighted yellow.</p>

<p>Click on a project to go to its translation page:</p>

<p>{{ html_image('images/help/user-project-files.png', 'The "Translation modules" page of a project, with the status of all translations') }}</p>

<p>Most projects have only one <i>Translation module</i> (one "catkeys" file) per language, i.e. there's only one column with the language progress for the main application. If the software, however, includes for example a Tracker add-on or a library or consists of several applications, you'll see more columns that you'll have to get to 100%.</p>

<p>Polyglot can be used to translate other files besides catkeys. For this guide, we focus on catkeys, but the translation of "Line separated files" and "Java properties" works in a similar way.</p>

<p>By default, only languages that are being actively translated are listed. If yours isn't among them, it means that nobody has started a translation yet: Click <i>Show all languages</i> to see it.</p>

<p>If the progress of a translation is below 100% the menu <i>Continue</i> beside the progress bar is highlighted blue and a click brings you to a page with all still unfinished text blocks.<br />
In the menu, the item <i>All blocks</i> opens that page with all text blocks, the ones already translated and the ones still needing work.</p>

<p><i>Pre-translate</i> opens a page with all the text blocks that have been automatically translated according to the <i>Glossaries<i> (see below).</p>

<p><i>Export</i> lets you download the catkeys of that particular language, just like <i>Export languages: all | only completed</i> at the bottom of the list of languages lets you download the catkeys of all languages or just the 100% completed ones (as a ZIP archive). The downloaded file can then be edited in a text editor or <a href="https://depot.haiku-os.org/#!/pkg/catkeyseditor/haikuports/0/1/2/-/3/x86_gcc2">CatKeysEditor</a>, if you prefer that.</p>

<p>You can only edit text blocks for the languages you have permissions for. All others you can only <i>Export</i> or <i>View all</i> the text blocks.</p>

<p>This is the translation page:</p>

<p>{{ html_image('images/help/user-translation-upload.png', 'Upload translated catkeys at the top of the "Translation" page') }}</p>

<p>At the top, you can upload a previously exported and edited catkeys file of your language. Be aware: if the developer has updated the original English catkeys of his project, they take precedence. If it has changed - more or fewer text blocks - only the ones of yours that still match will be imported.<br />
So everthing's safe, but you may want to prefer leaving the exporting/uploading to the developer and stick to the Polyglot web interface...</p>

<p>{{ html_image('images/help/user-translation-search.png', 'Search for text in the original or translation') }}</p>

<p>Next is a search bar if you need to find a specific string in either the original or the translation. To get back to the unfiltered list, you have to click the "X" button that appears at the left of the text box when you started your search.</p>

<p>Below the search bar, there's a table with all the GUI texts that need localization. Clicking in a row expands it to the editing mode (last row in this example):</p>

<p>{{ html_image('images/help/user-translation-edit.png', 'A translation block while editing with a legend of its elements') }}</p>

<p>Yet untouched rows are highlighted yellow, and the <i>Needs work</i> button of the editing mode is yellow, too. This means that the text isn't counted as being translated and the percentage status won't increase.<br />
If you are not sure about your translation yet, keep the <i>Needs work</i> yellow until you are.</p>

<p>On the other hand: Some texts may be the same in the English original and your language; <i>OK</i> buttons are a good example. <i>Don't forget to go into editing mode and click <i>Save</i> in that case!</i></p>

<h2 class="help">Glossaries</h2>

<p>Polyglot 'pre-translates' common strings that are defined in the <i>Glossaries</i>, linked at the top of the page.

<p>{{ html_image('images/help/user-glossaries.png', 'The Glossary for German') }}</p>

<p>Clicking on <i>Add</i> opens a page with one text box for the English original and a second for the translation. You can add several string pairs at the same time, just make sure that each line of English text has a corresponding line with the translated string.<br />
This 'pre-translation' works only for full phrases, no partial matches.</p>

<p>Choosing <i>Pre-translate</i> for a language of a project instead of <i>Continue</i> or <i>All blocks</i> should be the first thing you do when starting the translation of a project. That way you'll quickly get through the most common strings of many apps. The <i>Pre-translate</i> page:</p>

<p>{{ html_image('images/help/user-pretranslate.png', 'The list of pre-translated strings') }}</p>

<p>Here you can quickly move through the list and correct any flawed proposed translations. If that happens a lot, you may want to edit the Glossary... The <i>Context</i> column shows where in the source these texts are found, and sometimes there's a <i>Comment</i> that provides additional information.<br />
All entries with a ticked checkbox are committed to the project's database when you finally click the <i>Save</i> button at the bottom.</p>

<h2 class="help">Tips</h2>

<p>A few points on localization in general, and Haiku specifics in particular:
</p>

<ul>
	<li><p>If you'd like to go the extra mile and download a project's catkeys to compile it with your translation for yourself, check out the blog post <a href="https://www.haiku-os.org/community/getting-involved/translating/3rdparty">Localizing an application</a>. You may find some useful background information and tips.</p>
	</li>

	<li><p>If you find a typo in the English original, let the developer know. You can quickly reach the issue tracker of the project by clicking the bug icon after the project name at the top of the page.</p>
	</li>

	<li><p>It's highly recommended to install and make yourself familiar with the application first. Best to have it open while translating and see where and when some text appears. Your translation will be more accurate and you can judge, if e.g. the length of the translated text may become a problem.</p>
	</li>

	<li><p>Use the <a href="https://dev.haiku-os.org/wiki/i18n">"Terminology" and "Style" documents of your language</a> which are maintained by the localization teams of Haiku. A good way to stay consistent over apps and the OS itself.<br />
If it's not in the "Terminology", see how the standard buttons, menus etc. are named in Haiku's applications and preferences.</p>
	</li>

	<li><p>Variables: Don't translate variables like "<tt>%s</tt>" or "<tt>%something%</tt>"! Those variables are replaced at runtime. If you change those, the code won't find them anymore and you'll have your translated variable in there, %-characters included...</p>
	</li>

	<li><p>Some languages use more specific plural forms than English, for example special plural forms for 2 or 3 to 5 items. To account for that you may find constructions to translate like:</p>

	<pre>{0, plural,
	one{There is # new message}
	other{There are # new messages}
}</pre>

	<p>You only translate the text in the deepest level of braces, i.e. <i>There is # new message</i> and <i>There are # new messages</i>.<br />
The "#" is a variable that is replaced at runtime by a number. If your target language has additional plural forms, you can add additional rules besides <i>one</i> and <i>other</i>, see <a href="http://cldr.unicode.org/index/cldr-spec/plural-rules">the spec</a> and <a href="http://www.unicode.org/cldr/charts/latest/supplemental/language_plural_rules.html">this language table</a>.<br />
For example:</p>

	<pre>{0, plural,
	zero{There are no new messages}
	one{There is # new message}
	few{There are # new messages}
	other{There are # new messages}
}</pre>
	</li>
</ul>
{% endblock %}
