{% extends "layouts.master" %}

{% block title %}{{ file.project.name }} - {{ file.name }} - Edit{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2 p-2 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item"><img src="{{ asset(file.project.icon) }}" class="breadcrumb-icon"> <a href="{{ route('projects.show', {project: file.project}) }}">{{ file.project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ route('projects.show', {project: file.project}) }}">{{ file.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ lang.name }}</li>
        <li class="breadcrumb-item active" aria-current="page">Pre-translate</li>
    </ol>
</nav>

<form action="{{ route('texts.bulkTranslate', {language: lang}) }}" method="post">
{{ csrf_field() }}
{{ method_field('PUT') }}
<input type="hidden" name="project" id="project" value="{{ file.project.id }}">
<table class="table table-striped">
<thead>
<tr>
    <th></th>
    <th>Context</th>
    <th>Text</th>
    <th>Proposed translation</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
{% for translation in translations %}
<tr>
    <td><input type="checkbox" name="text-ids[]" value="{{ translation.text_id }}" checked></td>
    <td style="width:10%">{{ translation.context }}</td>
    <td style="width:20%">{{ translation.text }}</td>
    <td><textarea name="translation-{{ translation.text_id }}" id="translation-{{ translation.text_id }}" class="form-control" style="height:4em">{{ translation.translation }}</textarea></td>
    <td style="max-width:20%">{{ translation.comment ?: '<i>None</i>' }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Save" class="btn btn-primary w-100">
</form>
{% endblock %}
