{% extends "layouts.master" %}

{% block title %}{{ file.project.name }} - {{ file.name }} - Edit{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ route('projects.index') }}">Home</a></li>
    <li><img src="{{ asset(file.project.icon) }}" class="breadcrumb-icon"> <a href="{{ route('projects.show', {project: file.project}) }}">{{ file.project.name }}</a></li>
    <li><a href="{{ route('projects.show', {project: file.project}) }}">{{ file.name }}</a></li>
    <li class="active">{{ lang.name }}</li>
    <li class="active">Pre-translate</li>
</ol>

<form action="{{ route('texts.bulkTranslate', {lang: lang.id}) }}" method="post">
{{ csrf_field() }}
{{ method_field('PUT') }}
<input type="hidden" name="project" id="project" value="{{ file.project.id }}">
<table class="table table-striped">
<thead>
<tr>
    <th></th>
    <th>Context</th>
    <th>Text</th>
    <th>Proposed translation</th>
    <th>Comment</th>
</tr>
</thead>
<tbody>
{% for translation in translations %}
<tr>
    <td><input type="checkbox" name="text-ids[]" value="{{ translation.text_id }}" checked></td>
    <td style="width:10%">{{ translation.context }}</td>
    <td style="width:20%">{{ translation.text }}</td>
    <textarea name="translation-{{ translation.text_id }}" id="translation-{{ translation.text_id }}" class="form-control" style="height:4em">{{ translation.translation }}</textarea>
    <td style="max-width:20%">{{ translation.comment ?: '<i>None</i>' }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Save" class="btn btn-primary btn-block">
</form>
{% endblock %}
