{% extends "layouts.master" %}

{% block title %}File{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('tr').click(function trclick() {
        var translationCell = $(this).find('td#translation');
        var id = $(this).attr('id');
        var lang = $(this).parents('table').attr('id');
        var form = '<textarea>' + translationCell.html() + '</textarea><input type="button" value="Save">';
        translationCell.html(form);
        $(this).unbind('click');
        var sendButton = $(translationCell).find('input');
        var textarea = $(translationCell).find('textarea');
        var tr = $(this);
        textarea.prop('disabled', true);
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/texts/' + id + '/lang/' + lang,
            success: function (data) {
                textarea.val(data.translation);
                textarea.prop('disabled', false);
            }
        });
        sendButton.click(function() {
            textarea.prop('disabled', true);
            $.ajax({
                type: 'POST',
                data: { '_token': '{{ csrf_token() }}', 'translation': textarea.val() },
                url: '/texts/' + id + '/lang/' + lang,
                success: function (data) {
                    translationCell.html(data.translation);
                    tr.click(trclick);
                }
            });
        });
    });
});
</script>
{% endblock %}

{% block content %}
<h1>{{ file.name }}</h1>

<h2>Texts</h2>
{% for context, texts in file.texts.groupBy('context') %}
<h3>{{ context }}</h3>
<table class="table" id="{{ lang.id }}">
    {% for text in texts %}
    <tr id="{{ text.id }}">
        <td>{{ text.text }}</td>
        <td>{{ text.comment }}</td>
        <td id="translation">{{ translations[text.id][0].translation }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

{% endblock %}
