{% extends "layouts.master" %}

{% set canTranslate = can('translate-file', [file, lang]) %}
{% block title %}{{ file.project.name }} - {{ file.name }} - {{ lang.name }}{% endblock %}

{% block scripts %}
{% if canTranslate %}
<script type="text/javascript">
$(document).ready(function() {
    $('tr').click(function trclick() {
        var translationCell = $(this).find('td.translation');
        var id = $(this).attr('id');
        var lang = $(this).parents('table').attr('id');
        var form = '<div class="container-fluid"><div class="row"><textarea>' + translationCell.html() + '</textarea></div><div class="row"><div class="col-md-4"><div class="checkbox"><label><input type="checkbox" id="needswork" value="1"> Needs work</label></div></div><div class="col-md-4"><input class="btn btn-primary" id="save" type="button" value="Save"></div><div class="col-md-4"><input class="btn" id="cancel" type="button" value="Cancel"></div></div></div>';
        translationCell.html(form);
        $(this).removeClass('warning');
        $(this).unbind('click');
        var sendButton = $(translationCell).find('input#save');
        var cancelButton = $(translationCell).find('input#cancel');
        var needsWorkCheckbox = $(translationCell).find('input#needswork');
        var textarea = $(translationCell).find('textarea');
        var tr = $(this);
        textarea.prop('disabled', true);
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '{{ url('/') }}/texts/' + id + '/lang/' + lang,
            success: function (data) {
                textarea.val(data.translation);
                needsWorkCheckbox.prop('checked', data.needswork);
                textarea.prop('disabled', false);
                textarea.focus();
                textarea.select();
                translationCell.addClass('translation-active');
            }
        });
        sendButton.click(function() {
            textarea.prop('disabled', true);
            $.ajax({
                type: 'POST',
                data: { '_token': '{{ csrf_token() }}', 'translation': textarea.val(), 'needswork': needsWorkCheckbox.prop('checked') },
                url: '{{ url('/') }}/texts/' + id + '/lang/' + lang,
                success: function (data) {
                    if(data.needswork)
                        tr.addClass('warning');
                    else
                        tr.removeClass('warning');
                    translationCell.html(data.translation);
                    translationCell.removeClass('translation-active');
                    tr.click(trclick);
                    tr.next().click();
                }
            });
        });
        cancelButton.click(function() {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '{{ url('/') }}/texts/' + id + '/lang/' + lang,
                success: function (data) {
                    if(data.needswork)
                        tr.addClass('warning');
                    else
                        tr.removeClass('warning');
                    translationCell.html(data.translation);
                    tr.click(trclick);
                    translationCell.removeClass('translation-active');
                }
            });
        });
    });
    $('#upload-form').submit(function(e) {
        if(confirm("This will overwrite all translations. Are you sure?")) {
            return true;
        }
        else {
            e.preventDefault();
            return false;
        }
    });
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li>{{ link_to_route('projects.index', 'Home') }}</li>
    <li>{{ html_image(file.project.icon, null, {class: 'breadcrumb-icon'}) }} {{ link_to_route('projects.show', file.project.name, {project: file.project}) }}</li>
    <li>{{ link_to_route('projects.show', file.name, {project: file.project}) }}</li>
    <li class="active">{{ html_image('images/flags/' ~ lang.iso_code ~ '-flag_16.png', null, {class: 'breadcrumb-icon'}) }} {{ lang.name }}</li>
    {% if type == 'continue' %}
        <li class="active">Continue translation</li>
    {% endif %}
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            {% if canTranslate %}
            {{ form_open({url: route('files.import', {file: file.id, lang: lang.id}), method: POST, files: true, 'id': 'upload-form'}) }}
            <div class="form-group {{ errors.has('catkeys') ? ' has-error' }}">
                {{ form_label('catkeys', 'Upload ' ~ lang.iso_code ~ '.catkeys') }}
                <div class="input-group">
                    {{ form_file('catkeys', {class: 'form-control'}) }}
                    <span class="input-group-btn">
                        {{ form_submit('Upload', {class: 'btn btn-primary'}) }}
                    </span>
                </div>
                {% for error in errors.get('catkeys') %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form_close() }}
            {% endif %}
        </div>
        <div class="col-md-6 col-md-pull-6">
            <p>For strings that don't need translation, because they are the same as the English original, the "Needs work" checkbox should be unmarked. Otherwise the percentage display on the overview page doesn't reach 100%.</p>
            {% if file.project.bugtracker_url %}
                <p>If you find typos in the English original or other issues, please report them at the <a href="{{ file.project.bugtracker_url }}">{{ file.project.name }} bug tracker</a>.</p>
            {% endif %}
        </div>
    </div>
</div>
{% if translations.count() > 0 %}
    {% for context, translationsGrouped in translations.groupBy('context') %}
        <h3>{{ context }}</h3>
        <table class="table table-hover table-translations" id="{{ lang.id }}">
        {% for translation in translationsGrouped %}
            <tr id="{{ translation.text_id }}"{{ translation.needs_work ? ' class="warning"' }}>
                <td><p>{{ translation.text }}</p><p class="comment">{{ translation.comment }}</p></td>
                <td{{ canTranslate ? ' class="translation"' }}>{{ translation.translation }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
    {% if type == 'continue' and allTranslationsCount > perPage %}
        <p>Refresh the page to get more strings to translate.</p>
    {% else %}
        {{ translations.links() | raw }}
    {% endif %}
{% else %}
<div class="alert alert-success"><strong>Well done!</strong> Translation complete!</div>
{% endif %}
{% endblock %}
