{% extends "layouts.master" %}

{% set canTranslate = can('translate-file', [file, lang]) %}
{% block title %}{{ file.project.name }} - {{ file.name }} - {{ lang.name }}{% endblock %}

{% block scripts %}
{% if canTranslate %}
<script type="text/javascript">
$(document).ready(function() {
    $('tr').click(function trclick() {
        var translationCell = $(this).find('td.translation');
        var id = $(this).attr('id');
        var lang = $(this).parents('table').attr('id');
        var form = '<div class="container-fluid"><div class="row"><textarea>' + translationCell.html() + '</textarea></div><div class="row"><div class="col-md-4"><div class="checkbox"><label><input type="checkbox" id="needswork" value="1"> Needs work</label></div></div><div class="col-md-4"><input class="btn btn-primary" id="save" type="button" value="Save"></div><div class="col-md-4"><input class="btn" id="cancel" type="button" value="Cancel"></div></div></div>';
        translationCell.html(form);
        $(this).removeClass('warning');
        $(this).unbind('click');
        var sendButton = $(translationCell).find('input#save');
        var cancelButton = $(translationCell).find('input#cancel');
        var needsWorkCheckbox = $(translationCell).find('input#needswork');
        var textarea = $(translationCell).find('textarea');
        var tr = $(this);
        textarea.prop('disabled', true);
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '{{ url('/') }}/texts/' + id + '/lang/' + lang,
            success: function (data) {
                textarea.val(data.translation);
                needsWorkCheckbox.prop('checked', data.needswork);
                textarea.prop('disabled', false);
                textarea.focus();
                textarea.select();
                translationCell.addClass('translation-active');
            }
        });
        sendButton.click(function() {
            textarea.prop('disabled', true);
            $.ajax({
                type: 'POST',
                data: { '_token': '{{ csrf_token() }}', 'translation': textarea.val(), 'needswork': needsWorkCheckbox.prop('checked') },
                url: '{{ url('/') }}/texts/' + id + '/lang/' + lang,
                success: function (data) {
                    if(data.needswork)
                        tr.addClass('warning');
                    else
                        tr.removeClass('warning');
                    translationCell.html(data.translation);
                    translationCell.removeClass('translation-active');
                    tr.click(trclick);
                    tr.next().click();
                }
            });
        });
        cancelButton.click(function() {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '{{ url('/') }}/texts/' + id + '/lang/' + lang,
                success: function (data) {
                    if(data.needswork)
                        tr.addClass('warning');
                    else
                        tr.removeClass('warning');
                    translationCell.html(data.translation);
                    tr.click(trclick);
                    translationCell.removeClass('translation-active');
                }
            });
        });
    });
    $('#upload-form').submit(function(e) {
        if(confirm("This will overwrite all translations. Are you sure?")) {
            return true;
        }
        else {
            e.preventDefault();
            return false;
        }
    });
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li>{{ link_to_route('projects.index', 'Home') }}</li>
    <li>{{ link_to_route('projects.show', file.project.name, {project: file.project}) }}</li>
    <li>{{ link_to_route('projects.show', file.name, {project: file.project}) }}</li>
    <li class="active">{{ lang.name }}</li>
</ol>
{% if canTranslate %}
<h2>Upload {{ lang.iso_code }}.catkeys</h2>
{{ form_open({url: route('files.import', {file: file.id, lang: lang.id}), method: POST, files: true, 'id': 'upload-form'}) }}
{{ form_file('catkeys', null) }}
{{ form_submit('Upload') }}
{{ form_close() }}
{% endif %}
<h2>Translations to {{ lang.name }}</h2>
<p class="message bg-info text-info">
For strings that don't need translation, because they are the same as the English original, the "Needs work" checkbox should be unmarked. Otherwise the percentage display on the overview page doesn't reach 100%.
</p>
{% for context, textsGrouped in texts.groupBy('context') %}
<h3>{{ context }}</h3>
<table class="table table-hover table-translations" id="{{ lang.id }}">
    {% for text in textsGrouped %}
    {% set translation = translations[text.id][0] %}
    <tr id="{{ text.id }}"{{ translation == null or translation.needs_work == true ? ' class="warning"' }}>
        <td><p>{{ text.text }}</p><p class="comment">{{ text.comment }}</p></td>
        <td{{ canTranslate ? ' class="translation"' }}>
            {{ translation == null ? text.text : translation.translation }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
{{ texts.links() | raw }}

{% endblock %}
