{% extends "layouts.master" %}

{% block title %}File{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('tr').click(function trclick() {
        var translationCell = $(this).find('td#translation');
        var id = $(this).attr('id');
        var lang = $(this).parents('table').attr('id');
        var form = '<div class="container-fluid"><div class="row"><textarea>' + translationCell.html() + '</textarea></div><div class="row"><div class="col-md-4"><input class="btn btn-primary" id="save" type="button" value="Save"></div><div class="col-md-4"><input class="btn" id="cancel" type="button" value="Cancel"></div><div class="col-md-4"><div class="checkbox"><label><input type="checkbox" id="needswork" value="1"> Needs work</label></div></div></div></div>';
        translationCell.html(form);
        $(this).unbind('click');
        var sendButton = $(translationCell).find('input#save');
        var cancelButton = $(translationCell).find('input#cancel');
        var needsWorkCheckbox = $(translationCell).find('input#needswork');
        var textarea = $(translationCell).find('textarea');
        var tr = $(this);
        textarea.prop('disabled', true);
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '{{ url('/') }}/texts/' + id + '/lang/' + lang,
            success: function (data) {
                textarea.val(data.translation);
                needsWorkCheckbox.prop('checked', data.needswork);
                textarea.prop('disabled', false);
            }
        });
        sendButton.click(function() {
            textarea.prop('disabled', true);
            $.ajax({
                type: 'POST',
                data: { '_token': '{{ csrf_token() }}', 'translation': textarea.val(), 'needswork': needsWorkCheckbox.prop('checked') },
                url: '{{ url('/') }}/texts/' + id + '/lang/' + lang,
                success: function (data) {
                    var cellhtml;
                    if(data.needswork)
                        cellhtml = '<i>' + data.translation + '</i>';
                    else
                        cellhtml = data.translation;
                    translationCell.html(cellhtml);
                    tr.click(trclick);
                }
            });
        });
        cancelButton.click(function() {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '{{ url('/') }}/texts/' + id + '/lang/' + lang,
                success: function (data) {
                    var cellhtml;
                    if(data.needswork)
                        cellhtml = '<i>' + data.translation + '</i>';
                    else
                        cellhtml = data.translation;
                    translationCell.html(cellhtml);
                    tr.click(trclick);
                }
            });
        });
    });
});
</script>
{% endblock %}

{% block content %}
<h1>{{ file.project.name }} - {{ file.name }}</h1>
<h2>Translations to {{ lang.name }}</h2>
{% for context, texts in file.texts.groupBy('context') %}
<h3>{{ context }}</h3>
<table class="table" id="{{ lang.id }}">
    {% for text in texts %}
    <tr id="{{ text.id }}">
        <td><p>{{ text.text }}</p><p><small>{{ text.comment }}</small></p></td>
        {% set translation = translations[text.id][0] %}
        {% if translation == null %}
            <td id="translation"><i>{{ text.text }}</i></td>
        {% else %}
            {% set needswork = translation.needs_work == true %}
            <td id="translation">{% if needswork %}<i>{% endif %}{{ translations[text.id][0].translation }}{% if needswork %}</i>{% endif %}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endfor %}

{% endblock %}
