{% extends "layouts.master" %}
{% import "macros.forms" as forms %}

{% set canTranslate = can('translate-file', [file, lang]) %}
{% block title %}{{ file.project.name }} - {{ file.name }} - {{ lang.name }}{% endblock %}

{% block translationEditor %}
<div class="container-fluid">
    <div class="row">
        <div class="mb-3">
            <textarea class="form-control">${translationCell.innerHTML}</textarea>
            <div class="form-text"><small>Press Shift+Enter to enter a newline.</small></div>
        </div>
        <div class="mb-3">
            <div class="btn-group d-flex" role="group">
                <div class="flex-fill me-2">
                    <input class="btn btn-primary w-100" id="save" type="button" value="Save">
                </div>
                <div class="flex-fill me-2">
                    <button class="btn btn-outline-warning w-100" id="needswork">Needs work</button>
                </div>
                <div class="flex-fill">
                    <input class="btn btn-danger w-100" id="cancel" type="button" value="Cancel">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <ul class="list-group">
                <li class="list-group-item" id="history">Click to load past translations...</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% if canTranslate %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    function trClick() {
        const tr = this;
        const textCell = tr.querySelector('td:first-child');
        const translationCell = tr.querySelector('td.translation');
        const id = tr.getAttribute('id');
        const lang = tr.closest('table').getAttribute('id');
        const form = `{{ block('translationEditor') }}`;
        translationCell.classList.add('translation-active');
        translationCell.innerHTML = form;
        tr.removeEventListener('click', trClick);

        const sendButton = translationCell.querySelector('input#save');
        const cancelButton = translationCell.querySelector('input#cancel');
        const textarea = translationCell.querySelector('textarea');

        const historyButton = translationCell.querySelector('li#history');
        historyButton.addEventListener('click', function () {
            const list = translationCell.querySelector('ul.list-group');
            list.children[0].innerHTML = 'Loading...';
            fetch('{{ url('/') }}/texts/' + id + '/lang/' + lang + '/history')
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Response has wrong status code: ' + response.status);
                    }
                })
                .then(data => {
                    let content = '';
                    if (data.length === 0) {
                        content = `<li class="list-group-item"><em>No past translations.</em></li>`;
                    } else {
                        for (let entry in data) {
                            content += `<li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div class="fw-bold">${(new Date(data[entry].created_at)).toLocaleString()}</div>
                                            ${data[entry].translation}
                                        </div>
                                        </li>`;
                        }
                    }
                    list.innerHTML = content;
                })
                .catch((error) => {
                    list.children[0].innerHTML = error;
                });
        });

        let needsWorkBadge = document.createElement('span');
        needsWorkBadge.classList.add('badge', 'bg-warning', 'text-bg-warning');
        needsWorkBadge.textContent = 'Needs work';
        const needsWorkButton = translationCell.querySelector('button#needswork');

        function getNeedsWork() { return !!textCell.querySelector('span.badge'); }
        function setNeedsWork(needsWork) {
            if (!needsWork) {
                needsWorkButton.classList.replace('btn-warning', 'btn-outline-warning');
                textCell.querySelector('span.badge')?.remove();
            } else {
                needsWorkButton.classList.replace('btn-outline-warning', 'btn-warning');
                textCell.append(needsWorkBadge);
            }
        }
        function toggleNeedsWork() {
            setNeedsWork(!getNeedsWork());
        }
        setNeedsWork(false);
        needsWorkButton.addEventListener('click', toggleNeedsWork);

        textarea.disabled = true;
        fetch('{{ url('/') }}/texts/' + id + '/lang/' + lang)
            .then(response => response.json())
            .then(data => {
                textarea.value = data.translation;
                textarea.disabled = false;
                textarea.focus();
                textarea.select();
                textarea.addEventListener('keypress', function (e) {
                    if (e.which == 13 && !e.ctrlKey && !e.shiftKey) {
                        sendButton.click();
                        e.preventDefault();
                    }
                });
            });

        // setup event handlers for save/cancel buttons
        function resetTr(data) {
            setNeedsWork(data.needswork);
            translationCell.textContent = data.translation;
            translationCell.classList.remove('translation-active');
            tr.addEventListener('click', trClick);
        }

        sendButton.addEventListener('click', function () {
            textarea.disabled = true;
            fetch('{{ url('/') }}/texts/' + id + '/lang/' + lang, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    '_token': '{{ csrf_token() }}',
                    'translation': textarea.value,
                    'needswork': getNeedsWork().toString()
                })
            })
                .then(response => response.json())
                .then(data => {
                    resetTr(data);
                    console.log(data);
                    let progressBarComplete = document.querySelector('.progress > .bg-success');
                    let progress = data.translationCounts[0]?.count / data.textsCount * 100;
                    progressBarComplete.parentElement.style.width = progress.toString() + '%';
                    if(progress > 5)
                        progressBarComplete.textContent = Math.floor(progress).toFixed(0).toString() + '%';
                    else
                        progressBarComplete.textContent = '';
                    let needsWorkProgress = document.querySelector('.progress > .bg-warning').parentElement;
                    needsWorkProgress.style.width = (data.translationCounts[1]?.count / data.textsCount * 100).toString() + '%';
                    needsWorkProgress.style.left = progressBarComplete.parentElement.offsetLeft + progressBarComplete.parentElement.offsetWidth;
                    if (tr.nextElementSibling)
                        tr.nextElementSibling.click();
                    else
                        tr.closest('table').nextElementSibling.nextElementSibling.querySelector('tr:first-child').click();
                });
        });

        cancelButton.addEventListener('click', function () {
            fetch('{{ url('/') }}/texts/' + id + '/lang/' + lang)
                .then(response => response.json())
                .then(data => resetTr(data));
        });
    }

    document.querySelectorAll('tr').forEach(row => {
        row.addEventListener('click', trClick);
    });

    document.getElementById('upload-form')?.addEventListener('submit', function (e) {
        if (!confirm("This will overwrite all translations. Are you sure?")) {
            e.preventDefault();
        }
    });
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item"><img src="{{ asset(file.project.icon) }}" class="breadcrumb-icon" alt="Project icon"> <a href="{{ route('projects.show', {project: file.project}) }}">{{ file.project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ route('projects.show', {project: file.project}) }}">{{ file.name }}</a></li>
        {% if not search %}
            <li class="breadcrumb-item active" aria-current="page">{{ lang.name }}</li>
            {% if type == 'continue' %}
                <li class="breadcrumb-item active" aria-current="page">Continue translation</li>
            {% endif %}
        {% else %}
            <li class="breadcrumb-item"><a href="{{ route('files.translate', {file: file.id, lang: lang.id}) }}">{{ lang.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search: {{ search }}</li>
        {% endif %}
    </ol>
</nav>
<div class="container-fluid">
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 order-md-2">
            {% if canTranslate %}
            <form action="{{ route('files.import', {file: file.id, lang: lang.id}) }}" id="upload-form" method="post" enctype="multipart/form-data">
                {{ csrf_field() }}
                <div class="mb-3">
                    {{ forms.file_input_with_btn('catkeys', "Upload #{filename}.#{file.getFileInstance().getExtension()}", 'Upload', errors) }}
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-md-6 order-md-1">
            <p>For strings that don't need translation, because they are the same as the English original, the "Needs work" button should be deactivated. Otherwise the percentage display on the overview page doesn't reach 100%.</p>
            {% if file.project.bugtracker_url %}
                <p>If you find typos in the English original or other issues, please report them at the <a href="{{ file.project.bugtracker_url }}">{{ file.project.name }} bug tracker</a>.</p>
            {% endif %}
            {% if lang.style_guide_url or lang.terminology_url %}
                <p>Remember to
                    {% if lang.style_guide_url %} follow <a href="{{ lang.style_guide_url }}">style</a>{{ lang.terminology_url ? ' and ' }}{% endif %}
                    {% if lang.terminology_url %} use <a href="{{ lang.terminology_url }}">terminology</a>{% endif %} of your language.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="card bg-secondary-subtle border-0 mb-3 sticky-top" style="top:1em;">
    <div class="card-body">
        <div class="progress-stacked progress-translation w-100 {{ type != 'all' ? 'mb-0' : 'mb-3' }}">
            {% set completed = stats[0].count / textsCount * 100 %}
            {% set needswork = stats[1].count / textsCount * 100 %}
            {% apply spaceless %}
            <div class="progress progress-translation" style="width: {{ completed }}%">
                <div class="progress-bar bg-success">
                    {% if completed > 5 %}{{ stats[0].count * 100 // textsCount }}%{% endif %}
                </div>
            </div>
            <div class="progress progress-translation" style="width: {{ needswork }}%">
                <div class="progress-bar bg-warning"></div>
            </div>
            {% endapply %}
        </div>
        {% if type == 'all' %}
        <form action="{{ route('files.translate', {file: file.id, lang: lang.id}) }}" method="get">
        <div class="input-group">
            {% if search != '' %}
            <a href="{{ route('files.translate', {file: file.id, lang: lang.id}) }}" class="btn btn-secondary">&#x2715;</a>
            {% endif %}
            <input type="text" name="search" id="search" value="{{ search }}" class="form-control">
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>
        </form>
        {% endif %}
    </div>
</div>
{% if translations.count() > 0 %}
    {% for context, translationsGrouped in translations.groupBy('context') %}
        <h3>{{ context }}</h3>
        <table class="table table-hover table-translations" id="{{ lang.id }}">
        {% for translation in translationsGrouped %}
            <tr id="{{ translation.text_id }}">
                <td class="d-flex justify-content-between align-items-start">
                    <div><p>{{ translation.text }}</p><p class="comment">{{ translation.comment }}</p></div>
                    {% if translation.needs_work %}
                    <span class="badge bg-warning text-bg-warning">Needs work</span>
                    {% endif %}
                </td>
                <td{{ canTranslate ? ' class="translation"' }}>{{ translation.translation }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
    {% if type == 'continue' and allTranslationsCount > perPage %}
        <a href="{{ route('files.translate', {file: file.id, lang: lang.id, type: 'continue'}) }}" class="btn btn-primary btn-lg w-100 mb-3">Load more blocks</a>
    {% else %}
        {{ translations.links() | raw }}
    {% endif %}
{% elseif search != '' and type == 'all' %}
<div class="alert alert-warning">No matches.</div>
{% else %}
<div class="alert alert-success"><strong>Well done!</strong> Translation complete!</div>
{% endif %}
{% endblock %}
