{% extends "layouts.master" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ route('projects.index') }}">Home</a></li>
    <li class="active">Edit profile</li>
</ol>
<form action="{{ route('profile.update') }}" method="post">
{{ method_field('PUT') }}
{{ csrf_field() }}
<div class="form-group{{ errors.has('name') ? ' has-error' }}">
    <label for="name" class="control-label">Name</label>
    <input type="text" name="name" id="name" value="{{ user.name }}" class="form-control">
    {% for error in errors.get('name') %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
</div>
<div class="form-group{{ errors.has('email') ? ' has-error' }}">
    <label for="email" class="control-label">E-mail</label>
    <input type="text" name="email" id="email" value="{{ user.email }}" class="form-control">
    {% for error in errors.get('email') %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
</div>
<div class="form-group">
    <label for="languages">Preferred languages</label>
    <select multiple="multiple" class="form-control" name="languages[]" id="languages">
    {% for id, name in languages %}
        <option value="{{ id }}"{{ id in user.preferred_languages ? ' selected' }}>{{ name }}</option>
    {% endfor %}
    </select>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-default">
</div>
</form>
{% endblock %}
