{% extends "layouts.master" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb p-3 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
    </ol>
</nav>
<form action="{{ route('profile.update') }}" method="post">
{{ method_field('PUT') }}
{{ csrf_field() }}
<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" id="name" value="{{ old('name', user.name) }}" class="form-control {{ errors.has('name') ? 'is-invalid' }}">
    {% for error in errors.get('name') %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="text" name="email" id="email" value="{{ old('email', user.email) }}" class="form-control {{ errors.has('email') ? 'is-invalid' }}">
    {% for error in errors.get('email') %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3">
    <label for="languages" class="form-label">Preferred languages</label>
    <select multiple="multiple" class="form-control" name="languages[]" id="languages">
    {% for lang in languages %}
        <option value="{{ lang.id }}"{{ lang.id in user.preferred_languages ? ' selected' }}>[{{ lang.iso_code }}] {{ lang.name }}</option>
    {% endfor %}
    </select>
</div>
<div class="mb-3">
    <input type="submit" value="Save" class="btn btn-primary">
</div>
</form>
{% endblock %}
