{% extends "layouts.master" %}
{% import "macros.forms" as forms %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2 p-2 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
    </ol>
</nav>
<form action="{{ route('profile.update') }}" method="post">
    {{ method_field('PUT') }}
    {{ csrf_field() }}
    <div class="mb-2">{{ forms.input('name', 'Name', user.name, errors) }}</div>
    <div class="mb-2">{{  forms.input('email', 'E-mail', user.email, errors) }}</div>
    <div class="mb-2">
        {{ forms.select('languages', 'Preferred languages', languages.mapWithKeys(l => {(l.id): "[#{l.iso_code}] #{l.name}"}), user.preferred_languages, true) }}
    </div>
    <div class="mb-2"><input type="submit" value="Save" class="btn btn-primary"></div>
</form>
{% endblock %}
