{% extends "layouts.master" %}

{% block title %}Settings{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li>{{ link_to_route('projects.index', 'Home') }}</li>
    <li class="active">Settings</li>
</ol>
<h2>Languages</h2>
<ul>
{% for language in languages %}
<li>{{ language.iso_code }} - {{ language.name }}</li>
{% endfor %}
</ul>
<h2>Add language</h2>
{{ form_open({url: route('settings.addLanguage'), method: POST}) }}
{{ form_label('ISO code:') }}
{{ form_text('iso', null, ['required']) }}
{{ form_label('Name:') }}
{{ form_text('name', null, ['required']) }}
{{ form_submit('Add language') }}
{{ form_close() }}
<h2>Users</h2>
<table class="table">
{% for user in users %}
<tr>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>
        {% if user.id != auth_user().id %}
        {{ form_open({url: route('settings.changeRole', user.id), method: POST}) }}
        {{ form_select('role', roles, user.role, {name: 'role[]'}) }}
        {{ form_submit('Save') }}
        {{ form_close() }}
        {% else %}
        {{ roles[user.role] }}
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{{ users.links() }}
{% endblock %}
