{% extends "layouts.master" %}

{% block title %}Settings{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li>{{ link_to_route('projects.index', 'Home') }}</li>
    <li class="active">Settings</li>
</ol>
<h2>Users</h2>
<table class="table">
{% for user in users %}
<tr>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>
        {% if user.id != auth_user().id %}
        {{ form_open({url: route('settings.changeRole', user.id), method: POST}) }}
        {{ form_select('role', roles, user.role, {name: 'role[]'}) }}
        {{ form_submit('Save') }}
        {{ form_close() }}
        {% else %}
        {{ roles[user.role] }}
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{{ users.links() | raw }}
{% endblock %}
