<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% apply spaceless %}
        <link rel="icon" href="{{ asset('images/favicon16.png') }}" sizes="16x16">
        <link rel="icon" href="{{ asset('images/favicon24.png') }}" sizes="24x24">
        <link rel="icon" href="{{ asset('images/favicon32.png') }}" sizes="32x32">
        <link rel="icon" href="{{ asset('images/favicon48.png') }}" sizes="48x48">
        <link rel="icon" href="{{ asset('images/favicon64.png') }}" sizes="64x64">
        <link rel="icon" href="{{ asset('images/favicon96.png') }}" sizes="96x96">
        <link rel="icon" href="{{ asset('images/favicon128.png') }}" sizes="128x128">
        <link rel="shortcut icon" href="{{ asset('images/favicon128.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('images/favicon128.png') }}">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{{ asset('css/bootstrap-icons.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% endapply %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-body-secondary">
            <div class="container">
                <a class="navbar-brand" href="{{ url('/') }}">
                    <picture>
                        <source srcset="{{ asset('images/Polyglot_dark_40px.png') }}" media="(prefers-color-scheme: dark)">
                        <img src="{{ asset('images/Polyglot_40px.png') }}" alt="Polyglot">
                    </picture>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if auth_user().can('global-settings') %}
                            <li class="nav-item"><a class="nav-link" href="{{ route('users.index') }}">Users</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ route('languages.index') }}">Languages</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{{ route('glossaries') }}">Glossaries</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ route('help') }}">Help</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if auth_check() %}
                            <li class="nav-item"><p class="navbar-text mb-0">{{ auth_user().roleName() }}</p></li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{ auth_user().name }}</a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{{ route('profile') }}">Edit profile</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ route('auth.logout') }}">Logout</a></li>
                                    {% if auth_user().role != 2 %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><h6 class="dropdown-header">Language permissions</h6></li>
                                        {% for language in auth_user().languages %}
                                        <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">{{ language.iso_code }}</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">None</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ route('auth.provider', {provider: 'github'}) }}">Sign in with GitHub</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
        {% if auth_check() and auth_user().languages is empty and auth_user().role == 0 %}
            <div class="alert alert-warning" role="alert">You don't have permissions to translate anything. They are required to do anything, until suggestions are implemented. See <a href="{{ route('help', {article: 'user'}) }}">Help for translators</a> for information.</div>
        {% endif %}
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
