{% extends "layouts.master" %}

{% block title %}Glossary - {{ glossary.name }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ route('projects.index') }}">Home</a></li>
    <li><a href="{{ route('glossaries') }}">Glossaries</a></li>
    {% if not search %}
        <li class="active">{{ glossary.name }}</li>
    {% else %}
        <li><a href="{{ route('glossaries.entries.index', {glossary: glossary.id}) }}">{{ glossary.name }}</a></li>
        <li class="active">Search: {{ search }}</li>
    {% endif %}
</ol>

{% if errors.all() %}
<div class="alert alert-danger" role="alert">
    {% for error in errors.all() %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}
{% if session('success') %}
    <div class="alert alert-success" role="alert">{{ session('success') }}</div>
{% endif %}

<form action="{{ route('glossaries.entries.index', {glossary: glossary.id}) }}" method="get">
<div class="input-group form-group">
    {% if search != '' %}
    <span class="input-group-btn">
        <a href="{{ route('glossaries.entries.index', {glossary: glossary.id}) }}" class="btn btn-default">&#x2715;</a>
    </span>
    {% endif %}
    <input type="text" name="search" id="search" value="{{ search }}" class="form-control">
    <span class="input-group-btn">
        <input type="submit" value="Search" class="btn btn-default">
    </span>
</div>
</form>

<ol class="breadcrumb text-center">
    {% for l in entries.pluck('letter').unique() %}
        <li><a href="#letter-{{ l|lower }}">{{ l }}</a></li>
    {% endfor %}
</ol>

{% set letter = "" %}
<table class="table table-striped glossary">
    <thead>
    <tr>
        <th>Text</th>
        <th>Translation</th>
        <th>
            {% if auth_user().can('create', ['App\\Models\\GlossaryEntry']) %}
                <a href="{{ route('glossaries.entries.create', {glossary: glossary.id}) }}" class="btn btn-primary btn-xs">Add</a>
            {% endif %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
    {% if letter != entry.letter %}
        {% set letter = entry.letter %}
        <tr>
            <td colspan="3" class="letter" id="letter-{{ entry.letter|lower }}">{{ entry.letter }}</td>
        </tr>
    {% endif %}
    <tr>
        <td class="entry">{{ entry.text }}</td>
        <td class="entry">{{ entry.translation }}</td>
        <td>
            <form action="{{ route('glossaries.entries.destroy', {glossary: glossary.id, entry: entry.id}) }}" method="post">
            {{ method_field('DELETE') }}
            {{ csrf_field() }}
            {% if auth_user().can('update', [entry]) %}
                <a href="{{ route('glossaries.entries.edit', {glossary: glossary.id, entry: entry.id}) }}" class="btn btn-default btn-xs">Edit</a>
            {% endif %}
            {% if auth_user().can('delete', [entry]) %}
                <input type="submit" value="Delete" class="btn btn-danger btn-xs">
            {% endif %}
            </form>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3"><em>Glossary is empty.</em></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{{ entries.appends({'search': search}).links() | raw }}
{% endblock %}
