{% extends "layouts.master" %}

{% block title %}Glossary - {{ glossary.name }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2 p-2 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ route('glossaries') }}">Glossaries</a></li>
        {% if not search %}
            <li class="breadcrumb-item active" aria-current="page">{{ glossary.name }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ route('glossaries.entries.index', [glossary]) }}">{{ glossary.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search: {{ search }}</li>
        {% endif %}
    </ol>
</nav>

{% if errors.all() %}
<div class="alert alert-danger" role="alert">
    {% for error in errors.all() %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}
{% if session('success') %}
    <div class="alert alert-success" role="alert">{{ session('success') }}</div>
{% endif %}

<form action="{{ route('glossaries.entries.index', [glossary]) }}" method="get">
<div class="input-group mb-2">
    {% if search != '' %}
        <a href="{{ route('glossaries.entries.index', [glossary]) }}" class="btn btn-secondary">&#x2715;</a>
    {% endif %}
    <input type="text" name="search" id="search" value="{{ search }}" class="form-control">
    <button type="submit" class="btn btn-secondary">Search</button>
</div>
</form>

<ul class="nav nav-pills bg-secondary-subtle rounded p-2 mb-2 d-flex justify-content-center sticky-top" id="navbarLetters">
    {% for l in entries.pluck('letter').unique() %}
        <li class="nav-item"><a class="nav-link" href="#letter-{{ l|lower|e('css') }}">{{ l }}</a></li>
    {% endfor %}
</ul>

{% set letter = "" %}
<table class="table table-striped glossary" data-bs-spy="scroll" data-bs-target="#navbarLetters" data-bs-root-margin="0px 0px -50%" data-bs-smooth-scroll="true" tabindex="0">
    <thead>
    <tr>
        <th>Text</th>
        <th>Translation</th>
        <th class="d-flex justify-content-end">
            {% if auth_user().can('create', ['App\\Models\\GlossaryEntry']) %}
                <a href="{{ route('glossaries.entries.create', [glossary]) }}" class="btn btn-primary btn-sm">Add</a>
            {% endif %}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
    {% if letter != entry.letter %}
        {% set letter = entry.letter %}
        <tr>
            <td colspan="3" class="letter" id="letter-{{ entry.letter|lower|e('css') }}">{{ entry.letter }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>{{ entry.text }}</td>
        <td>{{ entry.translation }}</td>
        <td class="d-flex justify-content-end">
            <form action="{{ route('glossaries.entries.destroy', [glossary, entry]) }}" method="post">
            {{ method_field('DELETE') }}
            {{ csrf_field() }}
            <div class="btn-group">
            {% if auth_user().can('update', [entry]) %}
                <a href="{{ route('glossaries.entries.edit', [glossary, entry]) }}" class="btn btn-primary btn-sm">Edit</a>
            {% endif %}
            {% if auth_user().can('delete', [entry]) %}
                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
            {% endif %}
            </div>
            </form>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3"><em>Glossary is empty.</em></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{{ entries.appends({'search': search}).links() | raw }}
{% endblock %}
