{% extends "layouts.master" %}

{% block title %}Glossaries{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{{ route('projects.index') }}">Home</a></li>
    <li class="active">Glossaries</li>
</ol>

<table class="table table-striped">
<thead>
    <th colspan="2">Language</th>
    <th>Entries</th>
</thead>
{% for glossary in glossaries|filter(g => g.iso_code != 'en') %}
<tr>
    <td class="iso-code"><b>{{ glossary.iso_code }}</b></td>
    <td><a href="{{ route('glossaries.entries.index', {glossary: glossary.id}) }}">{{ glossary.name }}</a></td>
    <td>{{ glossary.entries }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}