{% extends "layouts.master" %}

{% block title %}Glossaries{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2 p-2 bg-body-secondary rounded">
        <li class="breadcrumb-item"><a href="{{ route('projects.index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Glossaries</li>
    </ol>
</nav>

<div class="row g-2">
{% for chunk in glossaries.chunk(((glossaries.count()) / 3)|round(0, 'ceil')) %}
<div class="col-xl-4 col-12"><div class="list-group">
    {% for glossary in chunk|filter(g => g.iso_code != 'en') %}
    <a href="{{ route('glossaries.entries.index', [glossary]) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="me-auto d-flex align-items-center">
            <span class="badge language-badge bg-secondary me-2">{{ glossary.iso_code }}</span>
            {{ glossary.name }}
        </div>
        <span class="badge bg-primary rounded-pill">{{ glossary.entries }}</span>
    </a>
    {% endfor %}
</div></div>
{% endfor %}
</div>

{% endblock %}